:root {
  --brand-color: rgba(10, 90, 167, 1);
  --brand-color-light: rgb(145, 198, 247);
  --text-color: #333;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  min-height: 100%;
}

img {
 width: 100%;
 height: auto;
 object-fit: contain;
}

header {
  background-color: var(--brand-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
} 

.logo {
  width: 150px;
  height: auto;
  margin-right: 2rem;
}

header nav ul {
  display: flex;
  gap: 1rem;

}

header nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

nav a:hover {
  color: var(--brand-color-light);
}

#step-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    margin: auto;
    position: relative;
    margin-top: 2rem;
  }
  
  /* Line */
  #step-list::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    background: #ddd;
    transform: translateY(-50%);
    z-index: 0;
  }
  
  .step {
    position: relative;
    z-index: 1;
  }
  
  /* Circles */
  .circle {
    width: 40px;
    height: 40px;
    background: white;
    border: 3px solid #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #666;
  }
  
  /* Active Step */
  .step.active .circle {
    background: #1e73ff;
    border-color: #1e73ff;
    color: white;
  }

  .step-content {
    margin-top: 1rem;
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }

  .step-content.active {
    display: block;
  }
  
  footer {
    background-color: var(--brand-color);
    position: fixed;
    width: 100vw;
    bottom: 0;
    display: flex;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    /* height: 5rem; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  } 

  footer nav ul {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  footer nav a {
    color: white;
    text-decoration: none;
    font-weight: semi-bold;
    transition: all 0.3s ease;
  }

  footer nav a:hover {
    color: var(--brand-color-light);
  }



